<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hari.tosHelper">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="hari.tosHelper.startPage"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="hari.tosHelper.mainPage"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustNothing" />
        <activity
            android:name="hari.tosHelper.classicPage"
            android:screenOrientation="portrait" />
        <activity
            android:name="hari.tosHelper.rainbowPage"
            android:screenOrientation="portrait" />
        <activity
            android:name="hari.tosHelper.customPresets"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustNothing" />
        <activity
            android:name="hari.tosHelper.classicModesPage"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustNothing" />
        <activity
            android:name="hari.tosHelper.covenModesPage"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustNothing" />
        <activity
            android:name="hari.tosHelper.customTemplate"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustNothing" />
        <activity
            android:name="hari.tosHelper.template"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustNothing" />
        <activity android:name="hari.tosHelper.tipsPage" />
        <activity android:name="hari.tosHelper.aboutPage" />
        <activity android:name="hari.tosHelper.TI" />
        <activity android:name="hari.tosHelper.TS" />
        <activity android:name="hari.tosHelper.TP" />
        <activity android:name="hari.tosHelper.TK" />
        <activity android:name="hari.tosHelper.RT" />
        <activity android:name="hari.tosHelper.MK" />
        <activity android:name="hari.tosHelper.MD" />
        <activity android:name="hari.tosHelper.MS" />
        <activity android:name="hari.tosHelper.RM" />
        <activity android:name="hari.tosHelper.NK" />
        <activity android:name="hari.tosHelper.NE" />
        <activity android:name="hari.tosHelper.NB" />
        <activity android:name="hari.tosHelper.NC" />
        <activity android:name="hari.tosHelper.RN" />
        <activity android:name="hari.tosHelper.CE" />
        <activity android:name="hari.tosHelper.Any" />
        <activity android:name="hari.tosHelper.selectPos" />
        <activity android:name="hari.tosHelper.selectAlign" />
        <activity android:name="hari.tosHelper.TK_classic" />
        <activity android:name="hari.tosHelper.RT_classic" />
        <activity android:name="hari.tosHelper.Any_rainbow" />
        <activity android:name="hari.tosHelper.Role_Information" />
    </application>
</manifest>
